# Q1. 
Perform regression using SVM regression model on insurance dataset. Predict the insurance charges from the columns age, sex, bmi, children, smoker, and region. Follow the steps below:

# 1.1
Check for null values in the dataset. If present, remove those values. Convert the categorical values
into numerical values using label encoder. Normalize the numerical features using standard scaler.
Split the data into 70-30 training testing ratio. (10 Points)

In [14]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler, scale
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
# Check for null values
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [17]:
# Convert Categorical Values to Numeric 
label_encoder_sex = LabelEncoder()
label_encoder_smoker = LabelEncoder()
label_encoder_region = LabelEncoder()

df['sex'] = label_encoder_sex.fit_transform(df['sex'])
df['smoker'] = label_encoder_smoker.fit_transform(df['smoker'])
df['region'] = label_encoder_region.fit_transform(df['region'])

In [18]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [20]:
# Normalize the Numerical Features Using StandardScaler
# Columns to scale
scaler = StandardScaler()
num_cols = ['age', 'bmi', 'children']

df[num_cols] = scaler.fit_transform(df[num_cols])

In [21]:
X = df.drop('charges', axis=1)
y = df['charges']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.3, 
    random_state=42
)

print("Training set size:", X_train.shape)
print("Test set size:", X_test.shape)

Training set size: (936, 6)
Test set size: (402, 6)

In [22]:
X_train.head()

          age  sex       bmi  children  smoker  region
332  1.551686    0  0.081465 -0.908614       0       1
355  0.483668    1 -0.502533 -0.908614       0       3
138  1.053277    0  0.202858  1.580926       0       2
381  1.124479    1  0.003544 -0.908614       1       0
292 -1.011557    1  2.440425  0.751079       1       2

# 1.3
Train the model using SVM regression. Train two models one using kernel linear and one using
poly. Use bootstrapped training samples. (15 Points)

# 1.4
Evaluate the models using MSE, R squared score and bootstrap confidence interval. Which model
performs better? (15 Points)

# Q2.

Q.2 Perform classification using SVM classifier model on insurance dataset. Predict the sex from the
columns age, children, bmi, smoker, region, and charges. Follow the steps below: (50 Points)

# 2.1
Check for null values in the dataset. If present, remove those values. Convert the categorical values into numerical values using label encoder. Normalize the numerical features using standard scaler. Split the data into 80-20 training testing ratio.

# 2.2
Visualize the data using bar plot to analyze smoker vs sex. Plot a correlation heatmap to understand
feature relationships. (10 Points)

# 2.3
Train the model using SVM classifier. Use rbf kernel. Train the model using K-fold cross validation
and LOOCV. (20 Points)

# 2.4
Evaluate the model using accuracy score, precision, f1 score, recall. Compare performance between K-fold cv and LOOCV.